
<div class="row space60"></div>
@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<link href="~/Content/Site.css" rel="stylesheet" />

<!DOCTYPE html>

<html class="not-ie" lang="en">

<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row t-container">

               

            </div>
            <div class="row space40"></div>
        </div>
    </header><!-- Header End -->
    <!-- Titlebar
    ================================================== -->
    <section id="titlebar">
        <!-- Container -->
        <div class="container">

            <div class="eight columns">
                <h3 class="left">About</h3>
            </div>

            

        </div>
        <!-- Container / End -->
    </section>

    <!-- Content -->
    <div id="content">
        <div class="container">

            <div class="row">
                <div class="span12">
                    <h4>Who We Are?</h4>
                    <p>Chúng tôi là những sinh viên đại học đang học tiếng Nhật vì không muốn các bạn cảm thấy khó khăn với tiếng Nhật nên đã thiết kế website học tiếng Nhật dành cho thầy cô và các bạn.</p>

                    <p>Đây là website giáo dục mang tính chât thân thiện với người dùng.</p>
                    <!-- Our Team -->
                    <h3>Our Team</h3>

                                <div class="row">

                                    <a href="#">
                                        <div class="span3 square-1">
                                            <div class="img-container">
                                                <img src="~/img/our-team/1.jpg" alt="">
                                                <div class="img-bg-icon"></div>
                                            </div>
                                            <h4>Trần Hoài Bảo</h4>
                                            front end, Back end
                                        </div>
                                    </a>

                                    <a href="#">
                                        <div class="span3 square-1">
                                            <div class="img-container">
                                                <img src="~/img/our-team/2.jpg" alt="">
                                                <div class="img-bg-icon"></div>
                                            </div>
                                            <h4>Nguyễn Vĩnh Huy</h4>
                                            Front end, Back end
                                        </div>
                                    </a>

                                </div>
                    </div>
                    <!-- Our Team End -->
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h2>We have become the fastest growing</h2>
                        </div>
                        <div class="span3">
                            <!-- Button -->
                            <div class="btn btn-blue f-right">
                                <!-- Title -->
                                <h3><i class="icon-signin hidden-tablet"></i> More Info</h3>
                            </div>
                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                    <div class="row space10"></div>

                    <div class="row">
                        <!-- List -->
                        <div class="span4">
                            <h3>List</h3>
                            <ul class="list-a">
                                <li>Từ vựng.</li>
                                <li>Hán tự.</li>
                                <li>Ngữ pháp.</li>
                                <li>Nghe.</li>
                                <li>Nói.</li>
                                <li>Dịch.</li>
                            </ul>
                        </div>
                        <!-- List End -->
                        <!-- Progress Bar -->
                        <div class="span4">
                            <h3>Progress Bar</h3>
                            <div class="progress">
                                <div class="bar" style="width: 80%;">Từ vựng 80%</div>
                            </div>
                            <div class="progress">
                                <div class="bar" style="width: 90%;">Hán tự 90%</div>
                            </div>
                            <div class="progress">
                                <div class="bar" style="width: 78%;">Ngữ pháp 78%</div>
                            </div>
                            <div class="progress">
                                <div class="bar" style="width: 80%;">Nghe 80%</div>
                            </div>
                            <div class="progress">
                                <div class="bar" style="width: 75%;">Nói 75%</div>
                            </div>
                            <div class="progress">
                                <div class="bar" style="width: 80%;">Nghe 80%</div>
                            </div>
                        </div>
                        <!-- Progress Bar End -->
                        <!-- Client Says -->
                        <div class="span4">
                            <h3>Result</h3>
                            <div class="client-says">
                                "Đây là những khả năng chúng tôi có thể đào tạo cho bạn để bạn có một nền tảng căn bản vững chắc cho tiếng Nhật.”
                            </div>
                        </div>
                        <!-- Client Says End -->
                    </div>

                    <div class="row space50"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" defer src="js/jquery.flexslider.js"></script>

</body>
</html>
