
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<html class="not-ie js" lang="en">

<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row t-container">

                <div class="span9">
                    <div class="row space60"></div>

                </div>
            </div>
            <div class="row space40"></div>
            <div class="slider1 flexslider">
                <!-- Slider -->

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 1200%; transition-duration: 0.6s; transform: translate3d(-2340px, 0px, 0px);">
                        <li class="clone" style="width: 1170px; float: left; display: block;">
                            <img src="img/slider/4.jpg" alt="">
                        </li>
                        <li style="width: 1170px; float: left; display: block;" class="">
                            <img src="img/slider/1.jpg" alt="">
                        </li>
                        <li style="width: 1170px; float: left; display: block;" class="flex-active-slide">
                            <img src="img/slider/2.jpg" alt="">
                        </li>
                        <li style="width: 1170px; float: left; display: block;" class="">
                            <img src="img/slider/3.jpg" alt="">
                        </li>
                        <li style="width: 1170px; float: left; display: block;" class="">
                            <img src="img/slider/4.jpg" alt="">
                        </li>
                        <li style="width: 1170px; float: left; display: block;" class="clone">
                            <img src="img/slider/1.jpg" alt="">
                        </li>
                    </ul>
                </div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
            </div>  <!-- Slider End -->
        </div>
    </header>
    <!-- Header End -->
    <!-- Content -->
    <div id="content">
        <div class="container">
            <div class="f-center">
                <h2>日本語のウェブサイトへようこそ！</h2>
                <h3>Chào mừng bạn đã tới trang web học tiếng Nhật</h3>
                <h2>Tại sao bạn lại chọn trang web chúng tôi ?</h2>
                <div class="head-info">
                    Bạn cảm thấy tiếng Nhật quá khó khăn cho người bắt đầu? Bạn cảm thấy hán tự khó học, ngữ pháp khó nuốt hay từ vựng? Hay cảm thấy rằng mình không đủ tự tin để giao tiếp?
                </div>
            </div>
            <div class="f-hr"></div>
            <div class="row space40"></div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <!-- Service Container -->
                        <div class="span4">
                            <!-- Service Icon -->
                            <div class="ic-1"><i class="icon-lightbulb"></i></div>
                            <!-- Service Title -->
                            <div class="title-1"><h4>Hán tự và từ vựng</h4></div>
                            <!-- Service Content -->
                            <div class="text-1">
                                Ở đây chúng tôi sẽ hệ thống lại toàn bộ kiến thức cơ bản về hán tự và từng vựng tiếng Nhật một cách đơn giản và dễ hiểu.
                            </div>
                        </div>
                        <!-- Service Container End -->
                        <div class="span4">
                            <div class="ic-1"><i class="icon-resize-small"></i></div>
                            <div class="title-1"><h4>Ngữ pháp</h4></div>
                            <div class="text-1">
                                Chúng tôi sẽ cho bạn một bộ tài liệu ngữ pháp với những ví dụ đơn giản và dễ hiểu nhất.
                            </div>
                        </div>
                        <div class="span4">
                            <div class="ic-1"><i class="icon-eye-open"></i></div>
                            <div class="title-1"><h4>Giao tiếp</h4></div>
                            <div class="text-1">
                                Bạn sẽ được xem những video căn bản về phát âm và cách nói chuyện của người Nhật.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space40"></div>

                <div class="text-center">
                    <h3>Ở đây chúng tôi có những tài liệu bảng giảng và kinh nghiệm của những Senpai đi trước</h3>
                </div>
                <div class="span12">
                    <img src="img/image01.png" alt="">
                </div>
            </div>

            <div class="space40"></div>

            <div class="space50"></div>

        </div>
    </div>
    <!-- Content End -->

    <!-- JavaScripts -->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" defer="" src="js/jquery.flexslider.js"></script>

</body>
</html>